body {
  background-color: #f5fbf1;
  font-family:'PT Sans', sans-serif;
}

.sidebar {
  background-color: #393e46;
  color: ;
  height: 100%; /* full height: 100%; alternative "auto" */
  width: 12%;
  position: fixed; /* stays in place when scrolling */
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidebar a {
  color: #26baee;
  display: block; /* one line per item */
  font-size: 22px;
  text-decoration: none; /* removes the underlining for the links */
  padding: 7px 8px 8px 16px;
}

.sidebar a:hover {
  color: #fff;
}

.sidebar-heading {
  font-weight: bold;
}

#main-doc {
  margin-left: 12%; /* same as the width of the sidebar */
}

.heading-div {
  background-color: #393e46;
  text-align: center;
  padding: 4px;
}

#main-heading {
  color: #26baee;
  font-size: 3rem;
}

.subtitle {
  color: #fff;
}

header {
  color: #26baee;
  font-size: 2em;
  font-weight: bold;
}

footer {
  background-color: #;
  text-align: center;
}
